// Font
$font-size-1: 18px;
$font-size-2: 15px;
$font-size-3: 12px;

// Colors
$color-blue: #427C9E;
$color-black: black;
$color-white: white;

nav {
  ul {
margin: 10;
padding: 10;
list-style: none;
background-color: $color-white;
overflow: auto;
  display: flex;
  position: sticky;
}

li {
display: inline-block;
}

a {
display: block;
padding: 10px 10px 10px 10px;
text-decoration: none;
font-style: normal;
color: Black;
}
}
