/*
    Inställningar för footer
*/
footer {
    padding: 20px;
    text-align: right;
    
    sup {
        font-size: 14px;

        &::after {
            width: 10px;
            text-align: center;
            content: '🍻';
            display: inline-block;
            animation: emojiiiiisss 6969ms infinite;
        }
    }
}

@keyframes emojiiiiisss {
    0% {
        content: '🍻';
    }

    20% {
        content: '☃️';
    }

    40% {
        content: '☀️';
    }

    60% {
        content: '🐢';
    }

    80% {
        content: '🦥';
    }
}