.articleContainer {
  position: relative;
  margin: 0 auto;
}

.image-text-lm {
  position: absolute;
  max-width: 95%;
  top: 22%;
//  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
